.select-custom {
  border-radius: 4px !important;
  border: 1px solid #A81010;
  height: calc(32px + 0.4px);
  width: 121px;
  .ant-select-selector {
    border-radius: 4px !important;
    border-color: transparent !important;
  }

  &:hover {
    border-radius: 4px !important;
    border: 1px solid #A81010;
    border-color: #A81010;
  }

  &.ant-select-focused .ant-select-selector {
    border-color: transparent !important;
    box-shadow: none !important;
  }
}

.select-custom-dropdown {
  border-radius: 4px !important;
}