*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './custom/notFound.scss';
@import './custom/cardCustom.scss';
@import './custom/btnCustom.scss';
@import './custom/inputCustom.scss';
@import './custom/seclectCustom.scss';
@import './home.scss';
@import './headerDesktop.scss';
@import './headerMobile.scss';
@import './imgMain.scss';
@import './timeLineDes.scss';
@import './timeLineMb.scss';
@import './inforLanhDao.scss';
@import './thongtincuocchien.scss';
@import './Search/des.scss';
@import './Search/mb.scss';
@import './thongtinchiensihysinh/mb.scss';