.thongtincuocchien {
  width: 100%;
  min-height: 100vh;
  background-color: #A81010;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}