.timeline-wrapper {
  position: relative;
  width: 90%;
  margin: 100px auto;
}

.timeline-line {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ccc;
  transform: translateY(-50%);
  z-index: 1;
}

.timeline-items {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.timeline-item {
  position: relative;
  text-align: center;
  width: 20%;

  .timeline-dot {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .timeline-info {
    min-width: 160px;
    background-color: #fff;
    background-image: url('../asset/hoavan.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    h4, p {
      padding: 0px;
      margin: 0px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &.top .timeline-info {
    bottom: 80px;
  }

  &.bottom .timeline-info {
    top: 80px;
  }
}