@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');

.font-kodchasan {
  font-family: 'Kodchasan', sans-serif;
}

.font-dancing {
  font-family: 'Dancing Script', cursive;
}
